@charset "UTF-8";
/* 文字コードの指定 */

body {
  margin: 0;
  font-size: 100%;
}

ul,
ol {
  font-size: 35px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 35px;
}

a {
  text-decoration: none;
  color: blue;
  font-size: 30px;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  text-shadow: 3px 3px 20px blue;
}

h2 {
  color: #fff;
  text-shadow: 3px 3px 20px blue;
  font-size: 40px;
}

p {
  font-size: 30px;
  color: black;
  margin: 0;
}




/* ボタン */

.button {
	width: 45%;
	height: 100px;
	font-size: 30px;
	border-radius: 50px;
}

.button.--white {
	background-color: white;
}

.button.--bulue {
	border: none;
	background-color: rgba( 30, 180, 255, 0.8);
	color: white;
}


/* モーダル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #f4f4f4;
  margin: 500px auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal__header {
  position: relative;
}

.modal__headerText {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}

@keyframes modalopen {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.modal__close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 50px;
}

.modal__body {
  padding: 10px 20px;
  color: black;
}

.modal .button {
	display: block;
  margin: 0 auto 40px;
	border-radius: 0;
	width: 80%;
}







/* ハンバーガーメニュー */

/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
  position: absolute;
  left: 40px;
  top: 80px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 80px;
  height: 3px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line.--1 {
  top: 0;
}

.hamburger__line.--2 {
  top: 35px;
}

.hamburger__line.--3 {
  top: 70px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line.--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line.--2 {
  opacity: 0;
}

.open .hamburger__line.--3 {
  transform: rotate(45deg);
  top: 11px;
}

.hamburger__menu {
  position: fixed;
  left: -100%; /*ハンバーガーがクリックされる前はWindowを左側に隠す*/
  top: 0;
  width: 70%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら左からスライド*/
.open .hamburger__menu {
  background-color: rgb( 30, 180, 255);
  left: 0;
}

.hamburger__menuList {
  padding: 150px 0 0 160px;
}

.hamburger__menuItem {
  padding: 50px 0;
  font-size: 30px;
  color: blue;
}

/* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}

.hamburger__logOut {
  width: 65%;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding: 30px 50px 30px 0;
  background-color: white;
}

.hamburger__logOut .button {
}

